<ion-view title="Join room" id="page1" style="">
  <ion-content padding="true" class="has-header">
    <form id="joinRoom-form1" class="list">
      <label class="item item-input" id="joinRoom-input1">
        <span class="input-label">RoomID</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <a ui-sref="math101" id="joinRoom-button1" class="button button-positive  button-block">Join</a>
    <div class="spacer" style="height: 100px;"></div>
    <button id="joinRoom-button2" class="button button-balanced  button-block">Create a new room here</button>
  </ion-content>
</ion-view>